
@{
    ViewBag.Title = "Index";
}

<h2>Question 4</h2>
<h3>App_Data</h3>
<p>
    The App_Data folder of MVC application is used to contain the application related data files like .mdf files, LocalDB, and XML files, etc. The most important point that you need to remember is that IIS is never going to serve files from this App_Data folder.
</p>
<h3>App_Start</h3>
<p>
    The App_Start folder of MVC application is used to contain the class files which are needed to be executed at the time the application starts. The classes like BundleConfig, FilterConfig, IdentityConfig, RouteConfig, and Startup.Auth etc. are stored within this folder. So, in simple words, we can say that configuration related class files are stored in App_Start.

</p>
<h3>Shared Folder</h3>
<p>
    The Shared Folder in MVC is used to contain all the views which are needed to be shared by different controllers e.g. error files, layout files, etc.
</p>