.App{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  
}

.App ul{
  list-style-type: none;
  
}

ul li{
  display: inline;
  margin: 10px;
}

@media(min-width:500px){
  .NavigationItems{
      flex-flow: row;
  }
}