
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "RenderSection";
}

<h2>RenderSection</h2>
<div>
    <h4>  This section is rendered using render section</h4>
</div>


@section UsingRenderSection
{
    <div>
        <h2>Using render section</h2>
        <img src="~/Images/renderSection.jpg" />
    </div>
}