
@page "/UserSignUp"
@layout LoginPageLayout
@inject Blazor_App.Data.Services.Login services
@using Blazor_App.Data
@inject NavigationManager navigationManager

<h2>login</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class=" form-group">
                <label for=" Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@login.Name" />

            </div>
            <div class=" form-group">
                <label for=" Password" class="control-label">Password</label>
                <input form="Password" class="form-control" @bind="@login.Password" />
            </div>
        </div>







    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Register" value="save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancle" value="cancle" />
            </div>

        </div>

    </div>
</form>

@code {



    Employee_Model.Models.entityModels.TblLogin login = new Employee_Model.Models.entityModels.TblLogin();
    protected void Register()
    {
        services.SignIn(login);
        navigationManager.NavigateTo("LoginPage");
    }
    void Cancle()
    {
        navigationManager.NavigateTo("LoginPage");
    }
}

