
@{
    ViewBag.Title = "Index";
}

<h2>Ques5</h2>
<h3>Global.asax</h3>
<p>
    The Global.asax file in an MVC application allows us to write code which we want to run at the application level, such as Application_BeginRequest, Application_error, Application_Start, session_start, session_end, etc.

</p>
<h3>Global web config</h3>
<p>
    The Web.config file of an MVC application is one of the most useful and important files which contains the application level configurations.

</p>
<h3>Difference Between web config's</h3>
<p>
    The web. config file exists in the Views folders to prevent access to your views by any means other than your controller. In the MVC design pattern, controllers are supposed to route requests and return a rendered view to the calling client.
    <br/>WhereAs<br/>
    A configuration file (web.config) is used to manage various settings that define a website. The settings are stored in XML files that are separate from your application code. In this way you can configure settings independently from your code.
</p>